#dashboardlayout {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #0a0a0a;
}

#blockchain_dashboard {
    box-sizing: border-box;
    width: 100%;
    flex: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}









