#dashboardlayout {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    margin: 0;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;

    overflow: hidden;
}


#blockchain_dashboard{
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    margin: 0;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;

    overflow: hidden;

    display: flex;
}











