#navbar {
    box-sizing: border-box;
    width: 100%;
    height: 0%;

    margin: 0;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;

    overflow: hidden;
}





















