#sidebar {
    box-sizing: border-box;
    width: 0%;
    height: 100%;

    margin: 0;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;

    overflow: hidden;
}














